<% @page_title = t '.page_title' %>
	<div class="clear">&nbsp;</div>
		
		<table class="display stylized" id="example">
			<thead>
				<tr>
			    <th><%= sort_link @search, :code %></th>
			    <th><%= sort_link @search, :name %></th>
			    <th><%= sort_link @search, :sex %></th>
			    <th><%= sort_link @search, :birthplace %></th>
			    <th><%= sort_link @search, :birthday %></th>
			    <th><%= sort_link @search, :educational_background %></th>
			    <th><%= sort_link @search, :politics %></th>
			    <th><%= sort_link @search, :id_card %></th>
			    <th><%= sort_link @search, :contact %></th>
			    <th><%= sort_link @search, :hired_on %></th>
			    <th></th>
			    <th></th>
			    <th></th>
				</tr>

			</thead>
			<tbody>
				<% @employees.each do |employee| %>
				  <tr class="gradeA even">
				    <td><%= employee.code %></td>
				    <td><%= employee.name %></td>
				    <td><%= employee.sex %></td>
				    <td><%= employee.birthplace %></td>
				    <td><%= employee.birthday %></td>
				    <td><%= employee.educational_background %></td>
				    <td><%= employee.politics %></td>
				    <td><%= employee.id_card %></td>
				    <td><%= employee.contact %></td>
				    <td><%= employee.hired_on %></td>
				    <td><%= link_to 'Show', employee %></td>
				    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
				    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
				  </tr>
				<% end %>
			</tbody>
		
		</table>

		<br />
		<%= link_to 'New Employee', new_employee_path %>
