<% @page_title = t '.page_title' %>

<table class='display stylized'>
	<tr>
		<th><%= @employee.class.human_attribute_name(:code) %></th>
		<td><%= @employee.code %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:name) %></th>
		<td><%= @employee.name %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:sex) %></th>
		<td><%= @employee.sex %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:birthplace) %></th>
		<td><%= @employee.birthplace %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:birthday) %></th>
		<td><%= @employee.birthday %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:educational_background) %></th>
		<td><%= @employee.educational_background %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:politics) %></th>
		<td><%= @employee.politics %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:address) %></th>
		<td><%= @employee.address %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:id_card) %></th>
		<td><%= @employee.id_card %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:contact) %></th>
		<td><%= @employee.contact %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:worked_from) %></th>
		<td><%= @employee.worked_from %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:hired_on) %></th>
		<td><%= @employee.hired_on %></td>
	</tr>

	<tr>
		<th><%= @employee.class.human_attribute_name(:remark) %></th>
		<td><%= @employee.remark %></td>
	</tr>

</table>

<%= link_to t('commons.button.edit'), edit_employee_path(@employee) %> |
<%= link_to t('commons.button.back'), employees_path %>
