<%= form_for(@contract, :url => @contract.new_record? ? employee_contracts_path(@employee) : employee_contract_path(@employee, @contract), :html =>{:multipart => true}) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
	<legend><%= t '.title' %></legend>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
		<%= f.collection_select :position_id, Position.all(), :id, :name, {:prompt => t('commons.form.promt')} %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
		<%= f.collection_select :department_id, Department.all(), :id, :name, {:prompt => t('commons.form.promt')} %>
  </div>
  <div class="field">
    <%= f.label :file_data, @contract.class.human_attribute_name(:attachment) %><br />
		<%= link_to @contract.attachment_file.data_file_name, @contract.attachment_file if !@contract.attachment_file.nil? %>
		<%= f.file_field :file_data %>
  </div>

	</fieldset>
  <div class="actions">
    <%= f.submit t('commons.button.save'), :class => "btn grey" %>
  </div>
<% end %>
