<%= form_for(@salary, :url => @salary.new_record? ? employee_salaries_path(@employee) : employee_salary_path(@employee, @salary)) do |f| %>

  <% if @salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% @salary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
	<legend><%= t '.title' %></legend>
  <div class="field">
    <%= f.label :a %><br />
    <%= f.text_field :a %>
  </div>
  <div class="field">
    <%= f.label :b %><br />
    <%= f.text_field :b %>
  </div>
  <div class="field">
    <%= f.label :c %><br />
    <%= f.text_field :c %>
  </div>
  <div class="field">
    <%= f.label :d %><br />
    <%= f.text_field :d %>
  </div>
  <div class="field">
    <%= f.label :e %><br />
    <%= f.text_field :e %>
  </div>
  <div class="field">
    <%= f.label :f %><br />
    <%= f.text_field :f %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :h %><br />
    <%= f.text_field :h %>
  </div>
  <div class="field">
    <%= f.label :i %><br />
    <%= f.text_field :i %>
  </div>
  <div class="field">
    <%= f.label :j %><br />
    <%= f.text_field :j %>
  </div>
  <div class="field">
    <%= f.label :k %><br />
    <%= f.text_field :k %>
  </div>
  <div class="field">
    <%= f.label :l %><br />
    <%= f.text_field :l %>
  </div>
  <div class="field">
    <%= f.label :m %><br />
    <%= f.text_field :m %>
  </div>
  <div class="field">
    <%= f.label :n %><br />
    <%= f.text_field :n %>
  </div>
  <div class="field">
    <%= f.label :o %><br />
    <%= f.text_field :o %>
  </div>
  <div class="field">
    <%= f.label :p %><br />
    <%= f.text_field :p %>
  </div>
  <div class="field">
    <%= f.label :q %><br />
    <%= f.text_field :q %>
  </div>
  <div class="field">
    <%= f.label :r %><br />
    <%= f.text_field :r %>
  </div>
  <div class="field">
    <%= f.label :s %><br />
    <%= f.text_field :s %>
  </div>
  <div class="field">
    <%= f.label :t %><br />
    <%= f.text_field :t %>
  </div>
  <div class="field">
    <%= f.label :u %><br />
    <%= f.text_field :u %>
  </div>
  <div class="field">
    <%= f.label :v %><br />
    <%= f.text_field :v %>
  </div>
  <div class="field">
    <%= f.label :w %><br />
    <%= f.text_field :w %>
  </div>
  <div class="field">
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </div>
	</fieldset>
  <div class="actions">
		<%= f.submit t('commons.button.save'), :class => "btn grey" %>
  </div>
<% end %>
