<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Humance</title>
<meta name="description" content="HR Management System" />

<!-- We need to emulate IE7 only when we are to use excanvas -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<![endif]-->

<!-- Favicons --> 
<%= favicon_link_tag 'favicons/favicon.png', :rel => "shortcut icon", :type => 'image/png' %>
<%= favicon_link_tag 'favicons/favicon.png', :rel => "icon", :type => 'image/png' %>
<%= favicon_link_tag 'favicons/apple.png', :rel => "apple-touch-icon" %>

<!-- Main Stylesheet -->
<%= stylesheet_link_tag 'style', 'scaffold', 'customer', :media => "all" %>

<!--swfobject - needed only if you require <video> tag support for older browsers -->
<%= javascript_include_tag 'swfobject' %>

<!-- jQuery with plugins -->
<%= javascript_include_tag :jquery %>

<!--[if IE]>
<%= javascript_include_tag 'excanvas.min' %>
<![endif]-->
<%= javascript_include_tag 'jquery.flot.min' %>

<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<%= stylesheet_link_tag "ie", :media => "all" %>
<%= javascript_include_tag 'html5' %>
<![endif]-->

<!--[if lt IE 8]><%= javascript_include_tag 'IE8' %><![endif]-->

<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready(function(){
	/* setup navigation, content boxes, etc... */
	Administry.setup();
});
</script>

<%= yield :head %>
</head>

<body>

<%= yield %>

</body>
</html>
