<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Humance</title>
<meta name="description" content="HR Management System" />

<!-- We need to emulate IE7 only when we are to use excanvas -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<![endif]-->

<!-- Favicons --> 
<%= favicon_link_tag 'favicons/favicon.png', :rel => "shortcut icon", :type => 'image/png' %>
<%= favicon_link_tag 'favicons/favicon.png', :rel => "icon", :type => 'image/png' %>
<%= favicon_link_tag 'favicons/apple.png', :rel => "apple-touch-icon" %>

<!-- Main Stylesheet -->
<%= stylesheet_link_tag 'style', 'scaffold', 'customer', :media => "all" %>

<!--swfobject - needed only if you require <video> tag support for older browsers -->
<%= javascript_include_tag 'swfobject' %>

<!-- jQuery with plugins -->
<%= javascript_include_tag :jquery %>

<!--[if IE]>
<%= javascript_include_tag 'excanvas.min' %>
<![endif]-->
<%= javascript_include_tag 'jquery.flot.min' %>

<!-- Internet Explorer Fixes --> 
<!--[if IE]>
<%= stylesheet_link_tag "ie", :media => "all" %>
<%= javascript_include_tag 'html5' %>
<![endif]-->

<!--[if lt IE 8]><%= javascript_include_tag 'IE8' %><![endif]-->

<%= csrf_meta_tag %>

<script type="text/javascript">
$(document).ready(function(){
	/* setup navigation, content boxes, etc... */
	Administry.setup();
});
</script>

<%= yield :head %>
</head>

<body>
	<!-- Header -->
	<header id="top">
		<div class="wrapper">
			<!-- Title/Logo - can use text instead of image -->
			<div id="title"><span>上海东虹环境保洁</span>有限公司</div>
			<!-- Top navigation -->

			<div id="topnav">
				<a href="#"><%= image_tag 'style/user_default.png', :class => 'avatar' %></a>
				Logged in as <b>Admin</b>
				<span>|</span> <a href="#">Settings</a>
				<span>|</span> <a href="#">Logout</a><br />

				<small>You have <a href="#" class="high"><b>1</b> new message!</a></small>
			</div>
			<!-- End of Top navigation -->
			<!-- Main navigation -->
			<nav id="menu">
				<ul class="sf-menu">
					<li><a href="dashboard.html"><%= t '.menu.dashboard' %></a></li>
					<li class="current">
						<a href="grid.html"><%= t '.menu.human_resource' %></a>
						<ul>
							<li><%= link_to t('.menu.basic_info'), employees_path %></li>
							<li><%= link_to t('.menu.contract'), contracts_path %></li>
							<li><%= link_to t('.menu.salary'), employees_path %></li>
						</ul>					
					</li>
					<li><a href="tables.html">报表</a>
						<ul>
							<li><a href="samples-files.html">PDF格式</a></li>
							<li>
								<a href="samples-products.html">打印</a>
								<ul>
									<li><a href="samples-files.html">PDF格式</a></li>
									<li><a href="samples-products.html">打印</a></li>
								</ul>
							</li>
						</ul>
						</li>
				</ul>
			</nav>
			<!-- End of Main navigation -->
			<!-- Aside links -->
			<aside><%= link_to '中文', url_for(:locale => 'zh-CN') %> &middot; 
			<%= link_to 'English', url_for(:locale => :en) %> &middot; 
			<%= link_to 'Deutsch', url_for(:locale => :de) %></aside>

			<!-- End of Aside links -->
		</div>
	</header>
	<!-- End of Header -->
	
	<!-- Page title -->
	<div id="pagetitle">
		<div class="wrapper">
			<h1><%= @page_title %></h1>

			<!-- Quick search box -->
			<form action="" method="get"><input class="" type="text" id="q" name="q" /></form>
		</div>
	</div>
	<!-- End of Page title -->
	
	
	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
			<%= yield %>
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->

	
	<!-- Page footer -->
	<footer id="bottom">
		<div class="wrapper">
			<nav>
				<a href="#">Dashboard</a> &middot;
				<a href="#">Content</a> &middot;
				<a href="#">Reports</a> &middot;

				<a href="#">Users</a> &middot;
				<a href="#">Media</a> &middot;
				<a href="#">Events</a> &middot;
				<a href="#">Newsletter</a> &middot;
				<a href="#">Settings</a>

			</nav>
			<p>Copyright &copy; 2010 <b><a href="http://themeforest.net/user/zoranjuric" title="Visit my profile page @ThemeForest">西弗瑞</a></b> | Powered by <a href="http://www.famfamfam.com/">Lewisou</a></p>
		</div>
	</footer>
	<!-- End of Page footer -->


	
	<!-- Animated footer -->
	<footer id="animated">
		<ul>
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Reports</a></li>
			<li><a href="#">Users</a></li>

			<li><a href="#">Media</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Newsletter</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</footer>
	<!-- End of Animated footer -->

	<!-- Scroll to top link -->
	<a href="#" id="totop">^ scroll to top</a>

	<!-- Admin template javascript load -->
	<%= javascript_include_tag 'administry' %>
</body>
</html>
